* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue";
    overflow-x: hidden;
    background-color: #111a19;
}

header {
    background-color: #111a19;
}

header h1 {
    font-family: "Helvetica Neue";
}

.novels {
    color: #809076;
}
.mangas {
    color: #8a8635;
}
.x-animated span {
    color: #ccc;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    font-size: 3rem;
}

#x-animated {
    position: relative;
    width: 40px;
    height: 10px; 
    margin: 10px 0; 
}

#x-animated span {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
}

#x-animated span:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
}

#x-animated span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.navbar-nav .nav-link.active {
    color: #111a19;
    padding: 10px;
    background-color: #886830;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #886830;
}

.nav-item {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 12px;
}

.carousel-item::after {
content: "";
pointer-events: none; 
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 500px; 
background: linear-gradient(to top, rgba(0, 0, 0, 0.849), transparent);
z-index: 5;
}

.carousel-caption {
z-index: 10; 
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card {
    overflow: hidden;
    border: none;
    border-radius: 10px;
    position: relative;
}

.card-img {
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 500ms ease, transform 500ms ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.card:hover .card-img-overlay {
    opacity: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.849), transparent);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.card:hover .card-img {
    transform: scale(1.05);
}

.card-text {
    font-size: 1.3rem;
    color: #fff;
    z-index: 1;
}