* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 220px;
}

body {
    font-family: "Helvetica Neue";
    background-color: #111a19; 
}

main {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #111a19;
    border-bottom: 2px solid #886830;
}

.novels {
    color: #809076;
}
.mangas {
    color: #8a8635;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#x-header {
    position: relative;
    width: 40px;
    height: 10px; 
    margin: 10px 0; 
}

#x-header span {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(136, 104, 48)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#x-header span:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
}

#x-header span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.navbar-nav .nav-link.active {
    color: #111a19;
    background-color: #886830;
}

.nav-link {
    color: #ffffff;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #886830;
}

.nav-item {
    font-weight: bold;
    font-size: 1.2rem;
}

.carousel-item::after {
content: "";
pointer-events: none; 
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 500px; 
background: linear-gradient(to top, rgba(0, 0, 0, 0.849), transparent);
z-index: 5;
}

.carousel-caption {
    font-size: 2rem;
    z-index: 10; 
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

h2 {
    font-weight: bold;
}

@keyframes glow-green {
    50% {
        box-shadow: 0 0 40px hsl(133, 100%, 74%);
    }
}

@keyframes glow-blue {
    50% {
        box-shadow: 0 0 40px hsl(210, 100%, 74%);
    }
}

@keyframes glow-red {
    50% {
        box-shadow: 0 0 40px hsl(0, 100%, 74%);
    }
}

@keyframes glow-yellow {
    50% {
        box-shadow: 0 0 40px hsl(60, 100%, 74%);
    }
}

@keyframes glow-pink {
    50% {
        box-shadow: 0 0 40px hsl(2, 72%, 73%);
    }
}

#cthulhu[anim="glow"]:not(.toggled) {
    animation: glow-green var(--ease-elastic-in-1) 800ms infinite alternate;
}

#icefire[anim="glow"]:not(.toggled) {
    animation: glow-blue var(--ease-elastic-in-1) 800ms infinite alternate;
}

#dragonball[anim="glow"]:not(.toggled) {
    animation: glow-red var(--ease-elastic-in-1) 800ms infinite alternate;
}

#onepiece[anim="glow"]:not(.toggled) {
    animation: glow-yellow var(--ease-elastic-in-1) 800ms infinite alternate;
}

#pride[anim="glow"]:not(.toggled) {
    animation: glow-pink var(--ease-elastic-in-1) 800ms infinite alternate;
}

.card {
    overflow: hidden;
    border: none;
    border-radius: 10px;
    position: relative;
}

.card-img {
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease;
}

.toggleSinopseBtn {
    display: none;
    background-color: #00000034; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    height: 50px;
    width: 50px;
    font-size: 2rem; 
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.toggleSinopseBtn:hover {
    background-color: #49505763; 
    color: #fff; 
    transform: scale(1.05); 
    cursor: pointer; 
}

.toggleSinopseBtn:active {
    color: #fff; 
    background-color: #343a40; 
    transform: scale(0.95); 
}


.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 500ms ease, transform 500ms ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.card:hover .card-img-overlay {
    opacity: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.445));
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.card:hover .card-img {
    transform: scale(1.05);
}     

.card-text {
    font-size: 1.3rem;
    color: #fff;
    z-index: 1;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }

    .nav-link li {
        justify-content: flex-end;
    }

    .nav-link {
        font-size: 0.8rem;
    }

    .nav-link:hover {
        color: #fff;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .toggleSinopseBtn {
        display: inline-block;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .carousel-item img {
        height: 40vh;
        object-fit: cover;
    }

    .carousel-caption {
        font-size: 1rem;
    }

    .footer-text {
        font-size: 0.6rem;
    }
}

@media (max-width: 991px) {
    .vertical-center {
        flex-direction: row;
    }

    .card-img-overlay {
        opacity: 1 !important;
    }

    .nav-link:hover {
        color: #fff;
    }

    .toggleSinopseBtn {
        display: inline-block;
    }

    .card-text {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    .collapse {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    }
    
    .toggleSinopseBtn {
    display: none !important;
    }
}